:ruby
  group_param = @group.nil? ? '' : "group_id=#{@group.id}&"
  project_param = @project.nil? ? '' : "project_id=#{@project.id}&"
  office_param = @office.nil? ? '' : "office_id=#{@office.id}&"

%li.list-group-item
  Business Unit
  .btn-toolbar
    .btn-group{"data-model" => 'group'}
      %button.btn.btn-default.sidebar-btn#selected #{@group_name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @groups.each do |item|
          %li
            %a{href: "/projects?group_id=#{@group.id}&#{project_param}&#{office_param}"} #{item.name}
        %li.divider
        %li
          %a{href: "/projects?#{project_param}&#{office_param}"} All

%li.list-group-item
  Project
  .btn-toolbar
    .btn-group{"data-model" => 'project'}
      %button.btn.btn-default.sidebar-btn#selected #{@project_name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @projects.each do |item|
          %li
            %a{href: "/projects?project_id#{item.id}&#{group_param}&#{office_param}"} #{item.name}
        %li.divider
        %li
          %a{href: "/projects?#{group_param}&#{office_param}"} All

%li.list-group-item
  Office
  .btn-toolbar
    .btn-group{"data-model" => 'office'}
      %button.btn.btn-default.sidebar-btn#selected #{@office_location}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @offices.each do |item|
          %li
            %a #{item.name}
            %a{href: "/projects?office_id=#{item.id}&#{project_param}&#{group_param}"} #{item.location}
        %li.divider
        %li
          %a{href: "/projects?#{project_param}&#{group_param}"} All

-#%h1 Listing offices
-#%table
  -#%thead
    -#%tr
      -#%th Name
      -#%th City
      -#%th Group
      -#%th{:colspan => "3"}
  -#%tbody
    -#- @offices.each do |office|
      -#%tr
        -#%td= office.name
        -#%td= office.city_id
        -#%td= office.group_id
        -#%td= link_to 'Show', office
        -#%td= link_to 'Edit', edit_office_path(office)
        -#%td= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' }
-#%br/
-#= link_to 'New Office', new_office_path
