<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @office.city_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @office.group_id %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
