:ruby
  group_param = @group.nil? ? '' : "group_id=#{@group.id}&"
  project_param = @project.nil? ? '' : "project_id=#{@project.id}&"
  office_param = @office.nil? ? '' : "office_id=#{@office.id}&"

%li.list-group-item
  Business Unit
  .btn-toolbar
    .btn-group{"data-model" => 'group'}
      %button.btn.btn-default.sidebar-btn#selected #{@group_name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @groups.each do |item|
          %li
            %a{href: "/groups?group_id=#{item.id}&#{office_param}"} #{item.name}
            -#- if @office.nil?
              -#%a{href: "/groups/#{item.id}"} #{item.name}
            -#- else
            -#  %a{href: "/groups/#{item.id}?office_id=#{@office.id}"} #{item.name}
        %li.divider
        %li
          %a{href: "/groups?#{office_param}"} All
            
%li.list-group-item
  Office
  .btn-toolbar
    .btn-group{"data-model" => 'office'}
      %button.btn.btn-default.sidebar-btn#selected #{@office_location}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @offices.each do |item|
          %li
            -#%a{href: "/groups/#{@group.id}?office_id=#{item.id}"} #{item.location}
            %a{href: "/groups?office_id=#{item.id}&#{group_param}"} #{item.location}
        %li.divider
        %li
          -#%a{href: "/groups/#{@group.id}"} All
          %a{href: "/groups?#{group_param}"} All
