%li.list-group-item
  Business Unit
  .btn-toolbar
    .btn-group{"data-model" => 'group'}
      %button.btn.btn-default.sidebar-btn#selected #{@group.name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @groups.each do |item|
          %li
            - if @office.nil?
              %a{href: "/groups/#{item.id}"} #{item.name}
            - else
              %a{href: "/groups/#{item.id}?office_id=#{@office.id}"} #{item.name}
%li.list-group-item
  Office
  .btn-toolbar
    .btn-group{"data-model" => 'office'}
      %button.btn.btn-default.sidebar-btn#selected #{@office.nil? ? 'All' : @office.location}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @offices.each do |item|
          %li
            %a{href: "/groups/#{@group.id}?office_id=#{item.id}"} #{item.location}
        %li.divider
        %li
          %a{href: "/groups/#{@group.id}"} All
