%p#notice= notice
%p
  %strong Group Name:
  = @group.name
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Description
      %th Tags
      %th{:colspan => "3"}
  %tbody
    - @group.users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.description
        %td= user.tag_list

= link_to 'Edit', edit_group_path(@group)
|
\#{link_to 'Back', groups_path}
