.thumbnail{style: 'display: inline-block; height: 150px'}
  %a{href: "#{user_path(person)}"}
    .col-sm-6
      = image_tag("/avatars/#{person.avatar}.png", style: 'max-width: 100px; max-height: 100px')
      %strong= person.name
    .col-sm-6
      %h4 Basic Info
      = person.name
      = person.office.location
      = "Joined #{person.joined_on}"
