:ruby
  group_param = @group.nil? ? '' : "group_id=#{@group.id}&"
  project_param = @project.nil? ? '' : "project_id=#{@project.id}&"
  office_param = @office.nil? ? '' : "office_id=#{@office.id}&"
  role_param = @role.nil? ? '' : "role_id=#{@role.id}&"


%li.list-group-item
  Business Unit
  .btn-toolbar
    .btn-group{"data-model" => 'group'}
      %button.btn.btn-default.sidebar-btn#selected #{@group_name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @groups.each do |item|
          %li
            %a{href: "/users?group_id=#{item.id}&#{project_param}#{office_param}#{role_param}"} #{item.name}
        %li.divider
        %li
          %a{href: "/users?#{project_param}#{office_param}#{role_param}"} All

%li.list-group-item
  Project
  .btn-toolbar
    .btn-group{"data-model" => 'project'}
      %button.btn.btn-default.sidebar-btn#selected #{@project_name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @projects.each do |item|
          %li
            %a{href: "/users?project_id=#{item.id}&#{office_param}#{group_param}#{role_param}"} #{item.name}
        %li.divider
        %li
          %a{href: "/users?#{office_param}#{group_param}#{role_param}"} All

%li.list-group-item
  Office
  .btn-toolbar
    .btn-group{"data-model" => 'office'}
      %button.btn.btn-default.sidebar-btn#selected #{@office_location}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @offices.each do |item|
          %li
            %a{href: "/users?office_id=#{item.id}&#{project_param}#{group_param}#{role_param}"} #{item.location}
        %li.divider
        %li
          %a{href: "/users?#{project_param}#{group_param}#{role_param}"} All

%li.list-group-item
  Role
  .btn-toolbar
    .btn-group{"data-model" => 'role'}
      %button.btn.btn-default.sidebar-btn#selected #{@role_name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @roles.each do |item|
          %li
            %a{href: "/users?role_id=#{item.id}&#{office_param}#{group_param}#{project_param}"} #{item.name}
        %li.divider
        %li
          %a{href: "/users?#{office_param}#{group_param}#{project_param}"} All

%h4 Skills
%li.list-group-item
