%p#notice= notice
%p
  %strong Name:
  = @user.name
%p
  %strong Email:
  = @user.email
%p
  %strong Description:
  = @user.description
%p
  %strong Group:
  = @user.group.name
-#%p
  -#%strong Avatar:
-#  = @user.avatar
%p
  %strong Tags:
  = @user.tag_list.join(', ')
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
