:ruby
  group_param = @group.nil? ? '' : "group_id=#{@group.id}&"
  project_param = @project.nil? ? '' : "project_id=#{@project.id}&"
  office_param = @office.nil? ? '' : "office_id=#{@office.id}&"

%li.list-group-item
  Business Unit
  .btn-toolbar
    .btn-group{"data-model" => 'group'}
      %button.btn.btn-default.sidebar-btn#selected #{@group.name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @groups.each do |item|
          %li
            %a{href: "/projects/#{@project.id}?group_id=#{item.id}&#{office_param}"} #{item.name}
%li.list-group-item
  Project
  .btn-toolbar
    .btn-group{"data-model" => 'project'}
      %button.btn.btn-default.sidebar-btn#selected #{@project.name}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @projects.each do |item|
          %li
            %a{href: "/projects/#{item.id}?#{group_param}#{office_param}"} #{item.name}

%li.list-group-item
  Office
  .btn-toolbar
    .btn-group{"data-model" => 'office'}
      %button.btn.btn-default.sidebar-btn#selected #{@office.nil? ? 'All' : @office.location}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - @offices.each do |item|
          %li
            %a #{item.name}
            %a{href: "/projects/#{@project.id}?#{group_param}&office_id=#{item.id}"} #{item.location}
        %li.divider
        %li
          %a{href: "/projects/#{@project.id}?#{group_param}"} All

