!!!
%html
  %head
    %title OperaTags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset =>"utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    %a.sr-only.sr-only-focusable{:href => "#content"} Skip to main content
    #top.navbar.navbar-default.navbar-fixed-top{:role => "banner"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"}
            = icon('home')
            OperaTags
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.navbar-collapse.collapse#navbar-main{:role => "navigation"}
          %ul.nav.navbar-nav
            %li#groupsTab
              %a{:href => "/groups"}
                = icon('group')
                Business Unit
            %li#projectsTab
              %a{:href => "/projects"}
                = icon('suitcase')
                Projects
            %li#usersTab
              %a{:href => "/users"}
                = icon('user')
                People

            -#%li
              -#%a{:href => "/users"}
                -#= icon('user')
                -#Users
            -#%li
              -#%a{:href => "/groups"}
                -#= icon('group')
            -#    Groups
          = form_tag users_path, method: 'get', class: 'navbar-form navbar-left' do
            = text_field_tag :search, params[:search], class: 'form-control col-lg-8', placeholder: 'Search by name'
          -#%form.navbar-form.navbar-left
            -#%input.form-control.col-lg-8{:placeholder => "Search By Name", :type => "text"}
          -if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{href: "#{destroy_user_session_path}", :'data-method' => 'delete'}
                  = icon('sign-out')
                  Logout
    %main
      .container
        .row
          .panel-heading
            = render partial: "shared/flash_messages", flash: flash 
          - if has_sidebar?
            .col-md-3
              %h4 Filters
              = render :partial => "#{params[:controller]}/sidebar"
            .col-md-9
              %h4 Results
              = yield
          - else
            = yield
:javascript
  $(document).ready(function(){
    var setActiveTab = function(){
      $('nav li').removeClass('active');
      $("#" + window.location.href.split("/")[3] + 'Tab').addClass('active');
      //$("nav li:contains('#{params[:controller].capitalize}')").addClass('active');
    }
    setActiveTab();
    $(document).on('page:load', setActiveTab);
  });
 
