!!!
%html
  %head
    %title OperaTags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset =>"utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body{"data-twttr-rendered" => "true"}
    %a.sr-only.sr-only-focusable{:href => "#content"} Skip to main content
    %header#top.navbar.navbar-static-top.bs-docs-nav{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            -#%span.fa.fa-chevron-down
            = icon('th-list')
            -#%span.icon-bar
            -#%span.icon-bar
            -#%span.icon-bar
          %a.navbar-brand{:href => "../"} OperaTags
          
        %nav.navbar-collapse.bs-navbar-collapse.collapse{:role => "navigation", :style => "height: 1px;"}
          %ul.nav.navbar-nav
            %li
              %a{:href => "../users"} Users
            %li
              %a{:href => "../groups"} Groups
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "../tags"}
                -#%span.glyphicon.glyphicon-home
                = icon('home')
                Home
            -#%li
              -#%a{:href => "http://blog.getbootstrap.com", :onclick => "ga('send', 'event', 'Navbar', 'Community links', 'Blog');"} Blog
    %main
      %br
      .container
        = yield
        -#.col-md-9{:role => "main"}
          = yield
:javascript
  $(document).ready(function(){
    $('nav li').removeClass('active');
    $("nav li:contains('#{params[:controller].capitalize}')").addClass('active');
  });
